<h1>Show Article</h1>

<ul>

  <li>
    <strong>Url:</strong>
    <%= @article.url %>
  </li>

  <li>
    <strong>Send:</strong>
    <%= @article.send %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @article.email %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.article_path(@conn, :edit, @article) %></span>
<span><%= link "Back", to: Routes.article_path(@conn, :index) %></span>
